.App {
  max-width: 800px;
  margin:30px auto;
}

.spinner {
  text-align: center;
  color: #00B4CC;
  font-size: 4rem;
}

.fa-spinner {
  animation: fa-spin 2s linear infinite
}

@keyframes fa-spin {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg)
  }

  to {
      -webkit-transform: rotate(1turn);
      transform: rotate(1turn)
  }
}